table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
}
div.navigator-top {
	/* position: fixed !important; */
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
}
div.navigator {
	background-color: #E0E0E0;
}
